<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.desc }}">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Adri & Diego · Nos casamos! · 12/05/23">
    <meta itemprop="description" content="La pagina web de nuestra boda.">
    <meta itemprop="image" content="/OurWedding/images/a&d/hero_w1024.jpg">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="guirre.github.io/OurWedding">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Adri & Diego · Nos casamos! · 12/05/23">
    <meta property="og:description" content="La pagina web de nuestra boda.">
    <meta property="og:image" content="/OurWedding/images/a&d/hero_w1024.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Adri & Diego · Nos casamos! · 12/05/23">
    <meta name="twitter:description" content="La pagina web de nuestra boda.">
    <meta name="twitter:image" content="/OurWedding/images/a&d/hero_w1024.jpg">

    <!-- ^^ Social Meta Tags Generated via http://heymeta.com  ^^ -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:600|Raleway:500,500italic" rel="stylesheet" type="text/css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/main.css?v=2">
    <!-- Touch icons -->
    <link rel="icon" type="image/gif" href="/log.gif" />
    <link rel="apple-touch-icon" sizes="57x57" href="/OurWedding/apple-touch-icon-57x57.gif">
    <link rel="apple-touch-icon" sizes="60x60" href="/OurWedding/apple-touch-icon-60x60.gif">
    <link rel="apple-touch-icon" sizes="72x72" href="/OurWedding/apple-touch-icon-72x72.gif">
    <link rel="apple-touch-icon" sizes="76x76" href="/OurWedding/apple-touch-icon-76x76.gif">
    <link rel="apple-touch-icon" sizes="114x114" href="/OurWedding/apple-touch-icon-114x114.gif">
    <link rel="apple-touch-icon" sizes="120x120" href="/OurWedding/apple-touch-icon-120x120.gif">
    <link rel="apple-touch-icon" sizes="144x144" href="/OurWedding/apple-touch-icon-144x144.gif">
    <link rel="apple-touch-icon" sizes="152x152" href="/OurWedding/apple-touch-icon-152x152.gif">
    <link rel="apple-touch-icon" sizes="180x180" href="/OurWedding/apple-touch-icon-180x180.gif">
    <link rel="icon" type="image/png" href="/OurWedding/android-chrome-192x192.gif" sizes="192x192">
    <meta name="msapplication-square150x150logo" content="/OurWedding/mediumtile.gif" />
    <meta name="msapplication-square310x310logo" content="/OurWedding/largetile.gif" />
</head>
